@import url(http://fonts.googleapis.com/css?family=Cuprum);
@font-face { font-family: "FiveMinutes"; src: url("../fonts/fiveminutes.eot"); src: url("../fonts/fiveminutes.eot?#iefix") format("embedded-opentype"), url("../fonts/fiveminutes.woff") format("woff"), url("../fonts/fiveminutes.ttf") format("truetype"), url("../fonts/fiveminutes.svg#fiveminutes") format("svg"); font-weight: normal; font-style: normal; }

.how-it-works { margin-bottom: 35px; }
.how-it-works .title { margin-bottom: 20px; }
.how-it-works p { margin-bottom: 25px; font-size: 18px; color: #2c6871; }

.instructions { font-size: 0; }
.instructions li { display: inline-block; width: 200px; padding: 0 20px; margin-bottom: 50px; vertical-align: top; text-align: center; }
.instructions p { font-size: 18px; color: #2c6871; }

.instructions__pic { position: relative; margin-bottom: 20px; width: 200px; height: 200px; }
.instructions__pic img { margin: 3px; }
.instructions__pic span { position: absolute; top: 0; left: 0; width: 58px; height: 58px; line-height: 58px; text-align: center; font-family: "FiveMinutes", Arial, Tahoma, sans-serif; font-size: 46px; font-weight: bold; color: white; text-shadow: rgba(0, 0, 0, 0.26) 1px 1px 0; z-index: 10; }
.instructions__pic img, .instructions__pic span { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.instructions__pic-out { position: absolute; top: 0; left: 0; background: url('../img/icons-s102d5c93da.png') 0 -790px no-repeat; width: 200px; height: 200px; z-index: 5; }

.instructions__one, .instructions__four { background: #a9a555; }

.instructions__two, .instructions__five { background: #2c6871; }

.instructions__three { background: #c85838; }

.instructions__info { font-size: 22px; color: #2c6871; text-align: center; }
.instructions__info span { color: #c85838; }

.how-to-create { margin-bottom: 10px; }
.how-to-create .title { margin-bottom: 40px; }

.steps { margin-bottom: 50px; }

.steps__title { margin-bottom: 100px; font-size: 58px; color: #a9a555; text-align: center; }
.steps__title span { display: block; margin-left: 200px; font-size: 80px; color: #2c6871; text-align: right; }

.steps__list { font-size: 0; text-align: center; }
.steps__list li { display: inline-block; width: 271px; padding: 0 24px; vertical-align: top; }
.steps__list img { margin-bottom: 30px; }
.steps__list .title { margin-bottom: 25px; font-size: 38px; color: #2c6871; }
.steps__list .title span { color: #c85838; }
.steps__list p { font-size: 15px; color: #2c6871; text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 0; line-height: 1.4; }

.profile { padding: 80px 0 160px 0; overflow: hidden; }

.profile__photo { position: relative; float: left; width: 222px; height: 259px; }
.profile__photo img { display: block; margin: 9px 0 0 9px; }

.profile__photo-bg { position: absolute; top: 0; left: 0; background: url('../img/icons-s102d5c93da.png') 0 0 no-repeat; width: 222px; height: 259px; }

.profile__detail { float: right; width: 700px; }

.profile__desc { margin-bottom: 40px; font-size: 16px; color: #2c6871; line-height: 1.5; }
.profile__desc button { position: relative; top: -2px; margin-left: 12px; background: url('../img/icons-s102d5c93da.png') 0 -3593px no-repeat; width: 16px; height: 16px; }

.profile__name { position: relative; width: 232px; margin: -10px 0 15px -10px; }
.profile__name input { width: 210px; height: 69px; padding: 0 10px; border-radius: 6px; border: 1px dashed #959595; font-family: "FiveMinutes", Arial, Tahoma, sans-serif; font-size: 55px; color: #2c6871; font-weight: bold; }
.profile__name button { position: absolute; top: 23px; right: -15px; background: url('../img/icons-s102d5c93da.png') 0 -3211px no-repeat; width: 27px; height: 28px; }

.profile__country strong { display: block; margin-bottom: 10px; font-size: 18px; color: #2c6871; }

.country-select { background: url('../img/icons-s102d5c93da.png') 0 -2541px no-repeat; width: 286px; height: 40px; }
