@import url(http://fonts.googleapis.com/css?family=Cuprum);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
@import url(http://fonts.googleapis.com/css?family=Cuprum);
@font-face { font-family: "FiveMinutes"; src: url("../fonts/fiveminutes.eot"); src: url("../fonts/fiveminutes.eot?#iefix") format("embedded-opentype"), url("../fonts/fiveminutes.woff") format("woff"), url("../fonts/fiveminutes.ttf") format("truetype"), url("../fonts/fiveminutes.svg#fiveminutes") format("svg"); font-weight: normal; font-style: normal; }

.popup__cols:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.logo a, .nav a { font: 0/0 a; text-shadow: none; color: transparent; }

* { margin: 0; padding: 0; }

html, body { height: 100%; }

html { background: url(../img/bg.jpg); }

body { background: url(../img/bg-top.png) no-repeat 56% 0; font-family: "Cuprum", Arial, Tahoma, sans-serif; font-weight: normal; font-size: 14px; color: #231f20; line-height: 1; }

a img, fieldset { border: none; }

a { color: #2c6871; text-decoration: none; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: "Cuprum", Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }

table { border-spacing: 0; border-collapse: collapse; }

.wrap, .container { width: 960px; margin: 0 auto; }

.wrap { padding-top: 40px; }

.title { font-family: "FiveMinutes", Arial, Tahoma, sans-serif; font-size: 62px; font-weight: bold; text-shadow: rgba(255, 255, 255, 0.9) 1px 1px 0; letter-spacing: -3px; }

.title_red { color: #c85838; }

.title_blue { color: #2c6871; }
.title_blue span { color: #a9a555; }

.header { height: 220px; margin-bottom: 30px; }

.logo { position: relative; float: left; margin: 22px 40px 0 -100px; }
.logo a { display: block; background: url('../img/icons-s8c07134696.png') 0 -403px no-repeat; width: 390px; height: 130px; }

.nav { float: left; margin-top: 23px; }
.nav ul { overflow: hidden; }
.nav li { position: relative; float: left; margin-right: 25px; }
.nav li:hover { background: url('../img/icons-s8c07134696.png') 0 -4974px no-repeat; width: 105px; height: 105px; }
.nav li:active a { top: 1px; }
.nav li.active { background: url('../img/icons-s8c07134696.png') 0 -4859px no-repeat; width: 105px; height: 105px; }
.nav li.active .nav__item-1 { background: url('../img/icons-s8c07134696.png') 0 -3231px no-repeat; width: 105px; height: 105px; }
.nav li.active .nav__item-2 { background: url('../img/icons-s8c07134696.png') 0 -3346px no-repeat; width: 105px; height: 105px; }
.nav li.active .nav__item-3 { background: url('../img/icons-s8c07134696.png') 0 -4164px no-repeat; width: 105px; height: 105px; }
.nav a { position: relative; display: block; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.nav__item-1 { background: url('../img/icons-s8c07134696.png') 0 -2553px no-repeat; width: 105px; height: 105px; }
.nav__item-1:hover { background: url('../img/icons-s8c07134696.png') 0 -3231px no-repeat; width: 105px; height: 105px; }

.nav__item-2 { background: url('../img/icons-s8c07134696.png') 0 -3066px no-repeat; width: 105px; height: 105px; }
.nav__item-2:hover { background: url('../img/icons-s8c07134696.png') 0 -3346px no-repeat; width: 105px; height: 105px; }

.nav__item-3 { background: url('../img/icons-s8c07134696.png') 0 -2836px no-repeat; width: 105px; height: 105px; }
.nav__item-3:hover { background: url('../img/icons-s8c07134696.png') 0 -4164px no-repeat; width: 105px; height: 105px; }

.login { float: right; margin: 45px 5px 0 0; }

.login_enter .login__info button:before { background: url('../img/icons-s8c07134696.png') 0 -5880px no-repeat; width: 10px; height: 10px; }

.login__pic { float: left; padding: 3px 3px 13px 3px; margin-right: 27px; background: rgba(255, 255, 255, 0.5); -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, white 0 0 4px inset; -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, white 0 0 4px inset; box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px, white 0 0 4px inset; }
.login__pic img { display: block; -webkit-box-shadow: rgba(0, 0, 0, 0.01) 0 0 0 1px; -moz-box-shadow: rgba(0, 0, 0, 0.01) 0 0 0 1px; box-shadow: rgba(0, 0, 0, 0.01) 0 0 0 1px; }

.login__info { overflow: hidden; }
.login__info span, .login__info a { display: block; font-size: 16px; text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0; }
.login__info span { margin: 5px 0 5px 0; color: #2c6871; }
.login__info a { color: #c85838; }
.login__info button { position: relative; margin-top: 10px; padding: 4px 9px 2px 22px; background: #c85838; -webkit-border-radius: 9px; -moz-border-radius: 9px; -ms-border-radius: 9px; -o-border-radius: 9px; border-radius: 9px; font-family: "Cuprum", Arial, Tahoma, sans-serif; font-size: 12px; color: white; text-transform: uppercase; }
.login__info button:before { content: ""; position: absolute; top: 4px; left: 7px; background: url('../img/icons-s8c07134696.png') 0 -5860px no-repeat; width: 10px; height: 10px; }
.login__info button:hover { background: #2c6871; }

.bottom { overflow: hidden; }

.bottom_mod { height: 115px; overflow: visible; }

.btn-big a { display: inline-block; font-family: "FiveMinutes", Arial, Tahoma, sans-serif; font-size: 38px; font-weight: bold; color: white; letter-spacing: -2px; }

.btn-big_another, .btn-big_save { float: right; width: 440px; height: 115px; background: url(../img/btn-another-guide.png); }
.btn-big_another a, .btn-big_save a { margin: 10px 0 0 100px; background: url('../img/icons-s8c07134696.png') 0 0 no-repeat; width: 181px; height: 124px; font-size: 38px; }
.btn-big_another a:hover, .btn-big_save a:hover { background: url('../img/icons-s8c07134696.png') 0 -4505px no-repeat; width: 181px; height: 124px; }
.btn-big_another span, .btn-big_save span { display: block; text-align: center; }

.btn-big_another span { padding: 15px 5px 0 5px; }

.btn-big_save { position: relative; }
.btn-big_save span { padding: 24px 5px 0 0; }
.btn-big_save .btn-big__sbt { position: absolute; top: -10px; left: 250px; margin: 0; background: url('../img/icons-s8c07134696.png') 0 -4639px no-repeat; width: 209px; height: 210px; }
.btn-big_save .btn-big__sbt:hover { background: url('../img/icons-s8c07134696.png') 0 -4639px no-repeat; width: 209px; height: 210px; }
.btn-big_save .btn-big__sbt span { padding: 45px 2px 0 0; }

.btn-big_save a { font-size: 66px; }

.btn-big_create, .btn-big_create-1 { position: relative; width: 450px; background: url(../img/btn-create-guide.png); }
.btn-big_create a, .btn-big_create-1 a { margin: 70px 0 50px 150px; background: url('../img/icons-s8c07134696.png') 0 -1471px no-repeat; width: 215px; height: 220px; font-size: 62px; text-align: center; }
.btn-big_create a:hover, .btn-big_create-1 a:hover { background: url('../img/icons-s8c07134696.png') 0 -2056px no-repeat; width: 215px; height: 220px; }
.btn-big_create a:active, .btn-big_create-1 a:active { background: url('../img/icons-s8c07134696.png') 0 -1826px no-repeat; width: 215px; height: 220px; }
.btn-big_create strong, .btn-big_create-1 strong { display: block; padding: 40px 5px 0 0; }
.btn-big_create span, .btn-big_create-1 span { display: block; font-size: 80px; }

.btn-big_create { margin-left: 300px; }
.btn-big_create .ico-comm { position: absolute; top: 70px; left: -300px; background: url('../img/icons-s8c07134696.png') 0 -3514px no-repeat; width: 292px; height: 217px; }

.btn-big_create-1 { margin-left: 230px; }

.footer { position: relative; top: -15px; background: url(../img/footer.png) repeat-x; }
.footer .container { height: 100px; overflow: hidden; }

.footer__nav { float: left; margin-top: 50px; }
.footer__nav ul { overflow: hidden; }
.footer__nav li { float: left; margin-right: 20px; }
.footer__nav a { font-size: 16px; color: #d8dedf; }

.copyright { float: right; margin-top: 50px; opacity: 0.6; color: #bdc8ca; }

.btn-earning { position: relative; height: 52px; padding: 0 15px 0 45px; border: 3px solid #e4e4d2; -webkit-border-radius: 26px; -moz-border-radius: 26px; -ms-border-radius: 26px; -o-border-radius: 26px; border-radius: 26px; background: #a9a555; font-size: 24px; color: white; text-shadow: rgba(0, 0, 0, 0.26) 1px 1px 0; }
.btn-earning:before { content: ""; position: absolute; top: 11px; left: 9px; background: url('../img/icons-s8c07134696.png') 0 -5504px no-repeat; width: 30px; height: 24px; }

.btn { position: relative; padding: 4px 8px 2px 19px; -webkit-border-radius: 8px; -moz-border-radius: 8px; -ms-border-radius: 8px; -o-border-radius: 8px; border-radius: 8px; font-family: "Cuprum", Arial, Tahoma, sans-serif; font-size: 12px; color: white; text-transform: uppercase; }
.btn:before { content: ""; position: absolute; top: 4px; left: 6px; }

.btn_submit { background: #a9a555; }
.btn_submit:before { background: url('../img/icons-s8c07134696.png') 0 -4425px no-repeat; width: 9px; height: 10px; }
.btn_submit:hover { background: #adb24f; }

.btn_edit { background: #349ba6; }
.btn_edit:before { background: url('../img/icons-s8c07134696.png') 0 -5900px no-repeat; width: 9px; height: 9px; }

.btn_delete { background: #c85838; }
.btn_delete:before { background: url('../img/icons-s8c07134696.png') 0 -4485px no-repeat; width: 9px; height: 10px; }

.btn_delete:hover, .btn_edit:hover { background: #2c6871; }

.popup { position: absolute; top: 50px; left: 20px; width: 580px; background: #e2e5d9; }
.popup a { color: #349ba6; text-decoration: underline; }
.popup a:hover { color: #2c6871; }

.popup_login, .popup_sign, .popup_contacts, .popup_password, .popup_pay, .popup_login-sign { width: 325px; padding: 0 20px 0 30px; }

.popup_login-sign { width: 695px; }
.popup_login-sign .popup__error a { float: none; display: inline-block; margin-top: 9px; }
.popup_login-sign .popup__social { margin: 15px 0 10px 0; text-align: center; }
.popup_login-sign .popup__social a { margin: 0 7px; }

.popup__col-1, .popup__col-2 { position: relative; width: 325px; }
.popup__col-1 .popup__btn, .popup__col-2 .popup__btn { right: 0; bottom: 18px; background: url('../img/icons-s8c07134696.png') 0 -5747px no-repeat; width: 73px; height: 32px; border-radius: 2px; font-family: "Cuprum", Arial, Tahoma, sans-serif; font-size: 18px; letter-spacing: 0; }
.popup__col-1 .popup__btn:hover, .popup__col-2 .popup__btn:hover { background: url('../img/icons-s8c07134696.png') 0 -5705px no-repeat; width: 73px; height: 32px; }
.popup__col-1 .popup__btn:active, .popup__col-2 .popup__btn:active { background: url('../img/icons-s8c07134696.png') 0 -5789px no-repeat; width: 73px; height: 32px; }

.popup__col-2 .popup__btn { width: 60px; }
.popup__col-2 .popup__btn:hover, .popup__col-2 .popup__btn:active { width: 60px; }

.popup__col-1 { float: left; }

.popup__col-2 { float: right; }

.popup_contacts .popup__btn, .popup_pay .popup__btn { bottom: -68px; right: 1px; }

.popup_contacts .popup__btn { right: 1px; }

.popup_pay .popup__btn { right: 10px; }

.popup_password .text-field { width: 205px; }
.popup_password .text-field input { width: 185px; }
.popup_password .text-field__bg-1 { left: -1px; right: -2px; }
.popup_password .text-field__bg-2 { left: -1px; right: -3px; }

.popup_pay { width: 660px; }

.popup__balance { position: absolute; top: 0; right: 5px; height: 50px; padding: 0 18px; border-radius: 20px; border: 1px solid #d4d6cc; background: white; line-height: 50px; font-size: 0; }
.popup__balance span, .popup__balance strong { display: inline-block; vertical-align: middle; }
.popup__balance span { margin-right: 5px; font-size: 18px; color: #2c6871; }
.popup__balance strong { font-size: 30px; color: #a9a555; }

.popup__steps { font-size: 0; }
.popup__steps li { position: relative; display: inline-block; padding-left: 65px; vertical-align: top; }

.popup__count { position: absolute; top: 0; left: 0; width: 48px; height: 48px; border-radius: 50%; background: #a9a555; line-height: 48px; text-align: center; font-size: 32px; color: white; text-shadow: rgba(0, 0, 0, 0.26) 1px 1px 0; }

.popup__step-title { height: 50px; margin-bottom: 5px; line-height: 50px; font-size: 18px; color: #2c6871; }

.popup__step-1 { width: 215px; }

.popup__step-2 { width: 315px; }
.popup__step-2 .text-field { margin: 10px 0 30px 0; }
.popup__step-2 .text-field input { font-size: 14px; width: 295px; }

.popup__step-3 { display: block; }
.popup__step-3 p { padding: 5px 0 70px 0; font-size: 18px; color: #2c6871; }

.popup__pay-sys1, .popup__pay-sys2 { position: relative; display: block; height: 45px; margin-bottom: 15px; }
.popup__pay-sys1 i, .popup__pay-sys1 input, .popup__pay-sys2 i, .popup__pay-sys2 input { position: absolute; top: 13px; left: -50px; width: 17px; height: 17px; }
.popup__pay-sys1 i, .popup__pay-sys2 i { background: white; border-radius: 50%; border: 1px solid #8c8e87; }
.popup__pay-sys1 input, .popup__pay-sys2 input { opacity: 0; z-index: 5; }
.popup__pay-sys1 input[type="radio"]:checked + i:before, .popup__pay-sys2 input[type="radio"]:checked + i:before { content: ""; position: absolute; top: 3px; left: 3px; width: 11px; height: 11px; background: #666666; border-radius: 50%; }
.popup__pay-sys1 span, .popup__pay-sys2 span { display: block; }

.popup__pay-sys1 span { background: url('../img/icons-s8c07134696.png') 0 -2286px no-repeat; width: 90px; height: 45px; }

.popup__pay-sys2 span { background: url('../img/icons-s8c07134696.png') 0 -1291px no-repeat; width: 90px; height: 45px; }

.popup__bg-1, .popup__bg-2, .popup__bg-3, .popup__bg-4, .popup__bg-5, .popup__bg-6, .popup__bg-7 { position: absolute; }
.popup__bg-1 img, .popup__bg-2 img, .popup__bg-3 img, .popup__bg-4 img, .popup__bg-5 img, .popup__bg-6 img, .popup__bg-7 img { display: block; width: 100%; height: 100%; }

.popup__bg-1 { top: -19px; left: -2px; width: 28px; height: 19px; }

.popup__bg-2 { top: -19px; left: 26px; right: 0; height: 19px; }

.popup__bg-3 { top: -19px; right: -15px; width: 15px; height: 19px; }

.popup__bg-4 { top: 0; bottom: 0; right: -15px; width: 15px; }

.popup__bg-5 { bottom: -18px; right: -15px; width: 15px; height: 18px; }

.popup__bg-6 { bottom: -18px; right: 0; left: 25px; height: 18px; }

.popup__bg-7 { bottom: -18px; left: -3px; width: 28px; height: 18px; }

.popup__error { margin: -22px 0 18px 5px; overflow: hidden; font-size: 14px; letter-spacing: -1px; }
.popup__error span { float: left; color: #cb5d3b; }
.popup__error a { float: right; }

.popup__reset-pass { position: absolute; top: 158px; right: -277px; background: url('../img/icons-s8c07134696.png') 0 -3856px no-repeat; width: 295px; height: 130px; z-index: 10; }
.popup__reset-pass p { padding: 22px 70px 15px 42px; font-size: 18px; color: #2c6871; }
.popup__reset-pass .text-field { width: 227px; margin: 0 0 0 40px; }
.popup__reset-pass .text-field input { width: 178px; padding: 0 40px 0 10px; }
.popup__reset-pass .text-field__bg-1 { top: -8px; }
.popup__reset-pass .text-field__bg-2 { bottom: -8px; left: -1px; }
.popup__reset-pass button { position: absolute; top: -6px; right: -4px; background: url('../img/icons-s8c07134696.png') 0 -5237px no-repeat; width: 39px; height: 33px; z-index: 10; }
.popup__reset-pass button:hover { background: url('../img/icons-s8c07134696.png') 0 -5194px no-repeat; width: 39px; height: 33px; }

.popup__terms { margin: 20px 0 30px 0; }
.popup__terms label { position: relative; padding-left: 30px; font-size: 14px; color: #2c6871; }
.popup__terms input, .popup__terms i { position: absolute; top: -2px; left: 0; }
.popup__terms input { width: 19px; height: 19px; opacity: 0; z-index: 5; }
.popup__terms input[type="checkbox"]:checked + i { background: url('../img/icons-s8c07134696.png') 0 -5602px no-repeat; width: 19px; height: 19px; }
.popup__terms i { background: url('../img/icons-s8c07134696.png') 0 -5831px no-repeat; width: 19px; height: 19px; }

.popup__social { margin: 25px 0 15px 0; font-size: 0; }
.popup__social a { display: inline-block; margin-bottom: 17px; }

.popup__fb { background: url('../img/icons-s8c07134696.png') 0 -4445px no-repeat; width: 188px; height: 30px; }

.popup__tw { background: url('../img/icons-s8c07134696.png') 0 -4385px no-repeat; width: 188px; height: 30px; }

.popup__title { position: relative; padding: 5px 0 20px 0; font-family: "FiveMinutes", Arial, Tahoma, sans-serif; font-size: 36px; font-weight: bold; color: #2c6871; text-shadow: rgba(255, 255, 255, 0.3) 0 1px 0; letter-spacing: -3px; z-index: 5; }
.popup__title span { color: #c85838; }

.popup__btn { position: absolute; bottom: 7px; right: 15px; background: url('../img/icons-s8c07134696.png') 0 -1701px no-repeat; width: 115px; height: 115px; font-family: "FiveMinutes", Arial, Tahoma, sans-serif; font-size: 42px; color: white; text-shadow: rgba(0, 0, 0, 0.26) 0 1px 0; text-align: center; letter-spacing: -3px; font-weight: bold; cursor: pointer; z-index: 10; }
.popup__btn:hover { background: url('../img/icons-s8c07134696.png') 0 -1346px no-repeat; width: 115px; height: 115px; }

.text-field { position: relative; margin: 10px 0 40px 0; }
.text-field input, .text-field textarea { position: relative; width: 305px; border: 1px solid #a7a8a5; border-width: 0 1px 0 1px; background: #f9f9f7; font-size: 18px; font-family: "Cuprum", Arial, Tahoma, sans-serif; color: #898988; z-index: 5; }
.text-field input { height: 20px; padding: 0 10px; }
.text-field input.focus { color: #2c6871; }
.text-field textarea { height: 180px; padding: 5px 10px; resize: none; }

.text-field_last { margin: 10px 0 20px 0; }

.text-field__bg-1, .text-field__bg-2 { position: absolute; height: 20px; }
.text-field__bg-1 img, .text-field__bg-2 img { display: block; width: 100%; height: 100%; }

.text-field__bg-1 { top: -10px; left: -2px; right: -3px; }

.text-field__bg-2 { bottom: -10px; left: -2px; right: -4px; }

@font-face { font-family: "FiveMinutes"; src: url("../fonts/fiveminutes.eot"); src: url("../fonts/fiveminutes.eot?#iefix") format("embedded-opentype"), url("../fonts/fiveminutes.woff") format("woff"), url("../fonts/fiveminutes.ttf") format("truetype"), url("../fonts/fiveminutes.svg#fiveminutes") format("svg"); font-weight: normal; font-style: normal; }

.popup__cols:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.logo a, .nav a { font: 0/0 a; text-shadow: none; color: transparent; }

/*styles for layouts */
@font-face { font-family: "FiveMinutes"; src: url("../fonts/fiveminutes.eot"); src: url("../fonts/fiveminutes.eot?#iefix") format("embedded-opentype"), url("../fonts/fiveminutes.woff") format("woff"), url("../fonts/fiveminutes.ttf") format("truetype"), url("../fonts/fiveminutes.svg#fiveminutes") format("svg"); font-weight: normal; font-style: normal; }

.popup__cols:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.logo a, .nav a { font: 0/0 a; text-shadow: none; color: transparent; }

.slider { position: relative; padding-top: 35px; margin-bottom: 20px; }

.slider__prev, .slider__next { position: absolute; top: 50%; margin-top: -51px; }

.slider__prev { left: -75px; background: url('../img/icons-s8c07134696.png') 0 -5392px no-repeat; width: 22px; height: 102px; }

.slider__next { right: -75px; background: url('../img/icons-s8c07134696.png') 0 -5280px no-repeat; width: 22px; height: 102px; }

.slider__list ul { overflow: hidden; font-size: 0; }
.slider__list li { position: relative; display: inline-block; vertical-align: top; width: 283px; width: 277px; margin-bottom: 55px; padding: 0 18px; }

.slider__pic { position: relative; }
.slider__pic img { position: relative; margin: 5px 0 0 8px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; z-index: 10; }
.slider__pic span { position: absolute; top: 0; left: -7px; z-index: 5; }

.slider__approved { background: url('../img/icons-s8c07134696.png') 0 -2721px no-repeat; width: 105px; height: 105px; }

.slider__saved { background: url('../img/icons-s8c07134696.png') 0 -4049px no-repeat; width: 105px; height: 105px; }

.slider__rejected { background: url('../img/icons-s8c07134696.png') 0 -2951px no-repeat; width: 105px; height: 105px; }

.slider__pending { background: url('../img/icons-s8c07134696.png') 0 -3741px no-repeat; width: 105px; height: 105px; }

.slider__pic-out { position: absolute; top: 0; left: 0; background: url('../img/icons-s8c07134696.png') 0 -783px no-repeat; width: 283px; height: 288px; z-index: 15; }

.slider__info { margin: -45px 40px 0 40px; padding: 63px 13px 23px 13px; background: rgba(255, 255, 255, 0.3); -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; }
.slider__info a { font-family: "FiveMinutes", Arial, Tahoma, sans-serif; font-size: 32px; font-weight: bold; text-shadow: rgba(255, 255, 255, 0.9) 0 1px 0; }

.slider__btns { margin: 9px -10px 0 0; overflow: hidden; }
.slider__btns button { float: left; margin-left: 6px; }
.slider__btns button:first-child { margin-left: 0; }

@font-face { font-family: "FiveMinutes"; src: url("../fonts/fiveminutes.eot"); src: url("../fonts/fiveminutes.eot?#iefix") format("embedded-opentype"), url("../fonts/fiveminutes.woff") format("woff"), url("../fonts/fiveminutes.ttf") format("truetype"), url("../fonts/fiveminutes.svg#fiveminutes") format("svg"); font-weight: normal; font-style: normal; }

.popup__cols:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

.logo a, .nav a { font: 0/0 a; text-shadow: none; color: transparent; }

.how-it-works { margin-bottom: 35px; }
.how-it-works .title { margin-bottom: 20px; }
.how-it-works p { margin-bottom: 25px; font-size: 18px; color: #2c6871; }

.instructions { font-size: 0; }
.instructions li { display: inline-block; width: 200px; padding: 0 20px; margin-bottom: 50px; vertical-align: top; text-align: center; }
.instructions p { font-size: 18px; color: #2c6871; }

.instructions__pic { position: relative; margin-bottom: 20px; width: 200px; height: 200px; }
.instructions__pic img { margin: 3px; }
.instructions__pic span { position: absolute; top: 0; left: 0; width: 58px; height: 58px; line-height: 58px; text-align: center; font-family: "FiveMinutes", Arial, Tahoma, sans-serif; font-size: 46px; font-weight: bold; color: white; text-shadow: rgba(0, 0, 0, 0.26) 1px 1px 0; z-index: 10; }
.instructions__pic img, .instructions__pic span { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.instructions__pic-out { position: absolute; top: 0; left: 0; background: url('../img/icons-s8c07134696.png') 0 -1081px no-repeat; width: 200px; height: 200px; z-index: 5; }

.instructions__one, .instructions__four { background: #a9a555; }

.instructions__two, .instructions__five { background: #2c6871; }

.instructions__three { background: #c85838; }

.instructions__info { font-size: 22px; color: #2c6871; text-align: center; }
.instructions__info span { color: #c85838; }

.how-to-create { margin-bottom: 10px; }
.how-to-create .title { margin-bottom: 40px; }

.steps { margin-bottom: 50px; }

.steps__title { margin-bottom: 100px; font-size: 58px; color: #a9a555; text-align: center; }
.steps__title span { display: block; margin-left: 200px; font-size: 80px; color: #2c6871; text-align: right; }

.steps__list { font-size: 0; text-align: center; }
.steps__list li { display: inline-block; width: 271px; padding: 0 24px; vertical-align: top; }
.steps__list img { margin-bottom: 30px; }
.steps__list .title { margin-bottom: 25px; font-size: 38px; color: #2c6871; }
.steps__list .title span { color: #c85838; }
.steps__list p { font-size: 15px; color: #2c6871; text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 0; line-height: 1.4; }

.profile { padding: 80px 0 160px 0; overflow: hidden; }

.profile__photo { position: relative; float: left; width: 222px; height: 259px; }
.profile__photo img { display: block; margin: 9px 0 0 9px; }

.profile__photo-bg { position: absolute; top: 0; left: 0; background: url('../img/icons-s8c07134696.png') 0 -134px no-repeat; width: 222px; height: 259px; }

.profile__detail { float: right; width: 700px; }

.profile__desc { margin-bottom: 40px; font-size: 16px; color: #2c6871; line-height: 1.5; }
.profile__desc button { position: relative; top: -2px; margin-left: 12px; background: url('../img/icons-s8c07134696.png') 0 -5576px no-repeat; width: 16px; height: 16px; }
.profile__desc button:hover { background: url('../img/icons-s8c07134696.png') 0 -5631px no-repeat; width: 16px; height: 16px; }

.profile__name { position: relative; width: 232px; margin: -10px 0 15px -10px; }
.profile__name input { width: 210px; height: 69px; padding: 0 10px; border-radius: 6px; border: 1px dashed #959595; font-family: "FiveMinutes", Arial, Tahoma, sans-serif; font-size: 55px; color: #2c6871; font-weight: bold; }
.profile__name button { position: absolute; top: 23px; right: -15px; background: url('../img/icons-s8c07134696.png') 0 -5127px no-repeat; width: 27px; height: 28px; }
.profile__name button:hover { background: url('../img/icons-s8c07134696.png') 0 -5089px no-repeat; width: 27px; height: 28px; }

.profile__country strong { display: block; margin-bottom: 10px; font-size: 18px; color: #2c6871; }

.country-select { background: url('../img/icons-s8c07134696.png') 0 -3181px no-repeat; width: 286px; height: 40px; }

.create { padding: 80px 10px 100px 10px; }

.create__panel { position: relative; padding: 0 17px; margin-bottom: 70px; background: url(../img/bg-create.jpg); }

.create__instruments { padding: 20px 0; overflow: hidden; }

.create__btns { float: left; margin-right: 20px; }
.create__btns div { float: left; margin-right: 6px; border-radius: 50%; border: 4px solid white; cursor: pointer; }
.create__btns div:hover { border-color: #f1dba1; }
.create__btns div:active { border-color: #5a5c57; }

.create__btns_mod { margin: 0 60px 0 20px; }
.create__btns_mod div { margin-right: 10px; }

.create__slider { position: relative; float: left; width: 420px; height: 12px; margin: 20px 30px 19px 0; background: #bbcec5; border-radius: 5px; }
.create__slider i { position: absolute; top: -3px; left: 50px; background: url('../img/icons-s8c07134696.png') 0 -5165px no-repeat; width: 26px; height: 19px; cursor: pointer; }

.create__volume { position: relative; float: left; padding-left: 42px; }
.create__volume .create__slider { width: 132px; margin-right: 18px; }

.create__mute { position: absolute; top: 12px; left: 0; background: url('../img/icons-s8c07134696.png') 0 -5538px no-repeat; width: 30px; height: 28px; }

.create__time { float: left; margin-top: 17px; font-size: 18px; color: #2c6871; }
.create__time span { color: #c85838; }

.cr-btn-1 { background: url('../img/icons-s8c07134696.png') 0 -2668px no-repeat; width: 43px; height: 43px; }

.cr-btn-2 { background: url('../img/icons-s8c07134696.png') 0 -3996px no-repeat; width: 43px; height: 43px; }

.cr-btn-3 { background: url('../img/icons-s8c07134696.png') 0 -4279px no-repeat; width: 43px; height: 43px; }

.cr-btn-4 { background: url('../img/icons-s8c07134696.png') 0 -2341px no-repeat; width: 43px; height: 43px; }

.cr-btn-5 { background: url('../img/icons-s8c07134696.png') 0 -3461px no-repeat; width: 43px; height: 43px; }

.cr-btn-6 { background: url('../img/icons-s8c07134696.png') 0 -2394px no-repeat; width: 43px; height: 43px; }

.cr-btn-7 { background: url('../img/icons-s8c07134696.png') 0 -4332px no-repeat; width: 43px; height: 43px; }

.cr-btn-8 { background: url('../img/icons-s8c07134696.png') 0 -2500px no-repeat; width: 43px; height: 43px; }

.cr-btn-9 { background: url('../img/icons-s8c07134696.png') 0 -2447px no-repeat; width: 43px; height: 43px; }

.create__bg-1, .create__bg-2, .create__bg-3, .create__bg-4, .create__bg-5, .create__bg-6, .create__bg-7, .create__bg-8 { position: absolute; }
.create__bg-1 img, .create__bg-2 img, .create__bg-3 img, .create__bg-4 img, .create__bg-5 img, .create__bg-6 img, .create__bg-7 img, .create__bg-8 img { width: 100%; height: 100%; }

.create__bg-1 { top: -25px; left: -7px; right: -8px; height: 25px; }

.create__bg-2 { top: 0; bottom: 0; right: -8px; width: 8px; }

.create__bg-3 { bottom: -15px; right: -8px; left: -7px; height: 15px; }

.create__bg-4 { top: 0; bottom: 0; left: -7px; width: 8px; }

.create__bg-5 { top: -10px; left: -10px; right: -10px; height: 10px; }

.create__bg-6 { top: 0; bottom: 0; right: -10px; width: 10px; }

.create__bg-7 { bottom: -9px; right: -10px; left: -10px; height: 10px; }

.create__bg-8 { top: 0; bottom: 0; left: -10px; width: 10px; }

.create__bg-9 img, .create__bg-10 img { display: block; width: 100%; }

.create__map { position: relative; padding: 15px; margin-bottom: 100px; background: url(../img/bg-create.jpg); }
.create__map img { display: block; }

.create__detail { overflow: hidden; }

.create__col-1 { float: left; width: 290px; margin-right: 20px; }

.create__name { margin-bottom: 25px; background: url('../img/icons-s8c07134696.png') 0 -733px no-repeat; width: 286px; height: 40px; }
.create__name input { width: 268px; height: 40px; padding: 0 10px; background: none; font-size: 18px; color: #2c6871; }
.create__name .text-field__bg-1 { left: -2px; right: -1px; }
.create__name .text-field__bg-2 { left: -1px; right: -1px; }

.create__col-2 { overflow: hidden; }
.create__col-2 .country-select { margin-bottom: 25px; }

.create__label { margin-bottom: 10px; font-size: 18px; color: #2c6871; }

.create__ptoto { overflow: hidden; }

.create__pic { position: relative; float: left; width: 189px; height: 180px; margin-right: 11px; overflow: hidden; }

.create__pic-bg { position: absolute; top: 0; left: 0; background: url('../img/icons-s8c07134696.png') 0 -543px no-repeat; width: 189px; height: 180px; }

.create__load { position: relative; float: left; margin-top: 133px; background: url('../img/icons-s8c07134696.png') 0 -5657px no-repeat; width: 90px; height: 38px; line-height: 38px; text-align: center; font-size: 18px; color: white; text-shadow: 1px 1px 0 #2c6871; }
.create__load input { position: absolute; top: 0; left: 0; width: 90px; height: 38px; cursor: default; opacity: 0; }

.create__desc { position: relative; }
.create__desc textarea { display: block; width: 608px; height: 150px; padding: 5px 10px; border: 1px solid #8d918a; border-width: 0 1px 0 1px; background: #f1f4e8; font-size: 18px; color: #2c6871; }
