@import "base"
* 
	margin: 0
	padding: 0 
	//-webkit-text-size-adjust: none
html, body 
	height: 100%
html
	background: url(../img/bg.jpg)
body	
	background: url(../img/bg-top.png) no-repeat 56% 0	
	font-family: 'Cuprum', Arial, Tahoma, sans-serif
	font-weight: normal
	font-size: 14px
	color: #231F20 
	line-height: 1	
	//-webkit-transform: translate3d(0,0,0);
	//-weblit-backface-visibility: hidden;
// resets
a img, fieldset 
	border: none
a
	color: $blue-dark
	text-decoration: none
p
	line-height: 1.2
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
	font-family: 'Cuprum', Arial, Tahoma, sans-serif
button 
	line-height: 1
	cursor: pointer
table 
	border-spacing: 0
	border-collapse: collapse
// common styles
.wrap, .container
	width: 960px
	margin: 0 auto
.wrap
	padding-top: 40px
.title
	font-family: 'FiveMinutes', Arial, Tahoma, sans-serif		
	font-size: 62px
	font-weight: bold 
	text-shadow: rgba(255,255,255,0.9) 1px 1px 0
	letter-spacing: -3px
.title_red
	color: $red
.title_blue
	color: $blue-dark
	span
		color: $green-light
//header
.header
	height: 220px
	margin-bottom: 30px
.logo
	position: relative
	float: left
	margin: 22px 40px 0 -100px
	a
		display: block		
		+sized-sprite($icons, logo)
		@extend %hide-text
.nav
	float: left
	margin-top: 23px
	ul
		overflow: hidden
	li
		position: relative
		float: left
		margin-right: 25px		
		&:hover
			+sized-sprite($icons, nav-h)			
		&:active
			a
				top: 1px
		&.active
			+sized-sprite($icons, nav-a)
			.nav__item-1
				+sized-sprite($icons, nav1-h)
			.nav__item-2
				+sized-sprite($icons, nav2-h)
			.nav__item-3
				+sized-sprite($icons, nav3-h)
	a
		position: relative
		display: block	
		@extend %hide-text
		+border-radius(50%)
.nav__item-1
	+sized-sprite($icons, nav1)
	&:hover
		+sized-sprite($icons, nav1-h)
.nav__item-2
	+sized-sprite($icons, nav2)
	&:hover
		+sized-sprite($icons, nav2-h)
.nav__item-3
	+sized-sprite($icons, nav3)
	&:hover
		+sized-sprite($icons, nav3-h)
.login
	float: right
	margin: 45px 5px 0 0
.login_enter
	.login__info
		button
			&:before
				+sized-sprite($icons, login)			
.login__pic
	float: left
	padding: 3px 3px 13px 3px
	margin-right: 27px
	background: rgba(255,255,255,0.5) 
	+box-shadow(rgba(0,0,0,0.1) 0 0 0 1px, #fff 0 0 4px inset)
	img
		display: block		
		+box-shadow(rgba(0,0,0,0.01) 0 0 0 1px)
.login__info
	overflow: hidden
	span, a
		display: block
		font-size: 16px
		text-shadow: rgba(255,255,255,0.9) 0 1px 0
	span		
		margin: 5px 0 5px 0
		color: $blue-dark
	a
		color: $red
	button
		position: relative
		margin-top: 10px
		padding: 4px 9px 2px 22px
		background: $red
		+border-radius(9px) 
		font-family: 'Cuprum', Arial, Tahoma, sans-serif
		font-size: 12px
		color: #FFF 
		text-transform: uppercase
		&:before
			content: ""
			position: absolute
			top: 4px
			left: 7px
			+sized-sprite($icons, log)
		&:hover
			background: $blue-dark 
//bottom
.bottom
	overflow: hidden
.bottom_mod
	height: 115px
	overflow: visible
.btn-big
	a
		display: inline-block		
		font-family: 'FiveMinutes', Arial, Tahoma, sans-serif
		font-size: 38px 
		font-weight: bold
		color: #fff
		letter-spacing: -2px
.btn-big_another, .btn-big_save
	float: right
	width: 440px
	height: 115px
	background: url(../img/btn-another-guide.png)
	a
		margin: 10px 0 0 100px
		+sized-sprite($icons, btn-red)
		font-size: 38px 
		&:hover
			+sized-sprite($icons, btn-red-a)
	span
		display: block
		text-align: center
.btn-big_another		
	span		
		padding: 15px 5px 0 5px		
.btn-big_save
	position: relative
	span
		padding: 24px 5px 0 0
	.btn-big__sbt
		position: absolute
		top: -10px
		left: 250px
		margin: 0
		+sized-sprite($icons, sbt)
		&:hover
			+sized-sprite($icons, sbt)
		span
			padding: 45px 2px 0 0
.btn-big_save
	a		
		font-size: 66px 
.btn-big_create, .btn-big_create-1
	position: relative
	width: 450px	
	background: url(../img/btn-create-guide.png)	
	a
		margin: 70px 0 50px 150px		
		+sized-sprite($icons, btn-cr)
		font-size: 62px 
		text-align: center
		&:hover
			+sized-sprite($icons, btn-cr-h)		
		&:active
			+sized-sprite($icons, btn-cr-a)	
	strong
		display: block
		padding: 40px 5px 0 0
	span
		display: block
		font-size: 80px	
.btn-big_create
	margin-left: 300px
	.ico-comm
		position: absolute
		top: 70px
		left: -300px
		+sized-sprite($icons, ico-comm)
.btn-big_create-1
	margin-left: 230px
//footer
.footer
	position: relative
	top: -15px
	background: url(../img/footer.png) repeat-x 
	.container
		height: 100px
		overflow: hidden
.footer__nav
	float: left
	margin-top: 50px
	ul
		overflow: hidden
	li
		float: left
		margin-right: 20px
	a
		font-size: 16px
		color: #d8dedf
.copyright
	float: right
	margin-top: 50px
	opacity: 0.6
	color: #bdc8ca
//buttons
.btn-earning
	position: relative
	height: 52px
	padding: 0 15px 0 45px
	border: 3px solid #e4e4d2
	+border-radius(26px)
	background: $green-light
	font-size: 24px
	color: #fff
	text-shadow: rgba(0,0,0,0.26) 1px 1px 0
	&:before
		content: ""
		position: absolute
		top: 11px
		left: 9px
		+sized-sprite($icons, btn-earning) 
.btn
	position: relative
	padding: 4px 8px 2px 19px
	+border-radius(8px)
	font-family: 'Cuprum', Arial, Tahoma, sans-serif
	font-size: 12px
	color: #FFF 
	text-transform: uppercase
	&:before
		content: ""
		position: absolute
		top: 4px
		left: 6px			
.btn_submit
	background: $green-light
	&:before
		+sized-sprite($icons, btn-submit) 
	&:hover
		background: #adb24f 
.btn_edit
	background: $blue
	&:before
		+sized-sprite($icons, btn-edit)
.btn_delete
	background: $red
	&:before
		+sized-sprite($icons, btn-delete)
.btn_delete, .btn_edit
	&:hover
		background: $blue-dark
//popups
.popup
	position: absolute
	top: 50px
	left: 20px
	width: 580px
	background: #e2e5d9	
	a
		color: $blue
		text-decoration: underline
		&:hover
			color: $blue-dark
.popup_login, .popup_sign, .popup_contacts, .popup_password, .popup_pay, .popup_login-sign
	width: 325px
	padding: 0 20px 0 30px
.popup_login-sign
	width: 695px
	.popup__error
		a
			float: none
			display: inline-block
			margin-top: 9px
	.popup__social	
		margin: 15px 0 10px 0
		text-align: center
		a
			margin: 0 7px
.popup__cols 
	@extend %clr
.popup__col-1, .popup__col-2
	position: relative
	width: 325px
	.popup__btn
		right: 0
		bottom: 18px
		+sized-sprite($icons, btn-bg)
		border-radius: 2px
		font-family: 'Cuprum', Arial, Tahoma, sans-serif
		font-size: 18px
		letter-spacing: 0
		&:hover
			+sized-sprite($icons, btn-bg-h)
		&:active
			+sized-sprite($icons, btn-bg-a)
.popup__col-2
	.popup__btn
		width: 60px
		&:hover, &:active
			width: 60px
.popup__col-1
	float: left
.popup__col-2
	float: right
.popup_contacts, .popup_pay
	.popup__btn
		bottom: -68px
		right: 1px
.popup_contacts
	.popup__btn
		right: 1px
.popup_pay
	.popup__btn
		right: 10px
.popup_password
	.text-field
		width: 205px
		input
			width: 185px
	.text-field__bg-1
		left: -1px
		right: -2px
	.text-field__bg-2
		left: -1px
		right: -3px
.popup_pay
	width: 660px
.popup__balance
	position: absolute
	top: 0
	right: 5px
	height: 50px
	padding: 0 18px
	border-radius: 20px
	border: 1px solid #d4d6cc
	background: #FFF
	line-height: 50px
	font-size: 0
	span, strong
		display: inline-block
		vertical-align: middle 
	span
		margin-right: 5px
		font-size: 18px
		color: $blue-dark
	strong
		font-size: 30px
		color: #a9a555 
.popup__steps
	font-size: 0
	li
		position: relative
		display: inline-block
		padding-left: 65px
		vertical-align: top
.popup__count
	position: absolute
	top: 0
	left: 0
	width: 48px
	height: 48px
	border-radius: 50%
	background: #a9a555 
	line-height: 48px
	text-align: center
	font-size: 32px
	color: #fff 
	text-shadow: rgba(0,0,0,0.26) 1px 1px 0
.popup__step-title
	height: 50px
	margin-bottom: 5px
	line-height: 50px
	font-size: 18px
	color: $blue-dark 
.popup__step-1
	width: 215px
.popup__step-2
	width: 315px
	.text-field
		margin: 10px 0 30px 0
		input
			font-size: 14px
			width: 295px
.popup__step-3
	display: block
	p
		padding: 5px 0 70px 0
		font-size: 18px
		color: $blue-dark
.popup__pay-sys1, .popup__pay-sys2
	position: relative
	display: block
	height: 45px
	margin-bottom: 15px
	i, input
		position: absolute
		top: 13px
		left: -50px
		width: 17px
		height: 17px		
	i
		background: #FFF 
		border-radius: 50%
		border: 1px solid #8c8e87
	input
		opacity: 0
		z-index: 5 
		&[type="radio"]:checked + i
			&:before
				content: ""
				position: absolute
				top: 3px
				left: 3px
				width: 11px
				height: 11px
				background: #666 
				border-radius: 50%			
	span
		display: block
.popup__pay-sys1
	span
		+sized-sprite($icons, pay-sys1)
.popup__pay-sys2
	span
		+sized-sprite($icons, pay-sys2)
.popup__bg-1, .popup__bg-2, .popup__bg-3, .popup__bg-4, .popup__bg-5, .popup__bg-6, .popup__bg-7
	position: absolute
	img
		display: block
		width: 100%
		height: 100%
.popup__bg-1
	top: -19px
	left: -2px
	width: 28px
	height: 19px
.popup__bg-2
	top: -19px
	left: 26px
	right: 0
	height: 19px
.popup__bg-3
	top: -19px
	right: -15px
	width: 15px
	height: 19px
.popup__bg-4
	top: 0
	bottom: 0
	right: -15px
	width: 15px
.popup__bg-5
	bottom: -18px
	right: -15px
	width: 15px
	height: 18px
.popup__bg-6
	bottom: -18px
	right: 0
	left: 25px
	height: 18px
.popup__bg-7
	bottom: -18px
	left: -3px
	width: 28px
	height: 18px
.popup__error
	margin: -22px 0 18px 5px
	overflow: hidden
	font-size: 14px
	letter-spacing: -1px
	span
		float: left
		color: #cb5d3b			
	a
		float: right
.popup__reset-pass
	position: absolute 
	top: 158px
	right: -277px
	+sized-sprite($icons, reset-pass)	
	z-index: 10 
	p
		padding: 22px 70px 15px 42px
		font-size: 18px
		color: $blue-dark
	.text-field
		width: 227px
		margin: 0 0 0 40px
		input
			width: 178px
			padding: 0 40px 0 10px
	.text-field__bg-1
		top: -8px		
	.text-field__bg-2
		bottom: -8px
		left: -1px
	button
		position: absolute
		top: -6px
		right: -4px
		+sized-sprite($icons, ok)	
		z-index: 10 
		&:hover
			+sized-sprite($icons, ok-h)
.popup__terms
	margin: 20px 0 25px 0
	label
		position: relative
		padding-left: 30px
		font-size: 14px
		color: $blue-dark
	input, i
		position: absolute
		top: -2px
		left: 0
	input
		width: 19px
		height: 19px
		opacity: 0
		z-index: 5 
		&[type="checkbox"]:checked + i
			+sized-sprite($icons, check-a)			
	i
		+sized-sprite($icons, check)
.popup__social
	margin: 20px 0 15px 0
	font-size: 0
	text-align: center
	a
		display: inline-block
		margin-bottom: 50px
.popup__fb
	+sized-sprite($icons, pp-fb)
.popup__or
	position: relative
	text-align: center
	span
		position: relative
		display: inline-block
		padding: 0 10px
		background: #e2e5d9
		font-size: 14px
		color: #a4a4a4
		z-index: 5  
	i
		position: absolute
		top: 6px
		left: 0
		width: 100%
		border-top: 1px solid #b9b9b9 
		border-bottom: 1px solid #fff 
.popup__title
	position: relative
	padding: 5px 0 20px 0
	font-family: 'FiveMinutes', Arial, Tahoma, sans-serif		
	font-size: 36px
	font-weight: bold 
	color: $blue-dark
	text-shadow: rgba(255,255,255,0.3) 0 1px 0
	letter-spacing: -3px
	z-index: 5 
	span
		color: $red
.popup__btn
	position: absolute
	bottom: -60px
	right: 15px
	+sized-sprite($icons, inp-btn)
	font-family: 'FiveMinutes', Arial, Tahoma, sans-serif	
	font-size: 42px
	color: #fff
	text-shadow: rgba(0,0,0,0.26) 0 1px 0
	text-align: center
	letter-spacing: -3px
	font-weight: bold 
	cursor: pointer
	z-index: 10 
	&:hover
		+sized-sprite($icons, inp-btn-h)
//text-field
.text-field
	position: relative	
	margin: 10px 0 40px 0 
	input, textarea
		position: relative
		width: 305px		
		border: 1px solid #a7a8a5
		border-width: 0 1px 0 1px
		background: #f9f9f7 
		font-size: 18px
		font-family: 'Cuprum', Arial, Tahoma, sans-serif
		color: #898988 
		z-index: 5 
		&.focus
			color: $blue-dark
	input
		height: 20px
		padding: 0 10px			
	textarea
		height: 180px
		padding: 5px 10px
		resize: none
.text-field_last
	margin: 10px 0 20px 0
.text-field__bg-1, .text-field__bg-2
	position: absolute
	height: 20px
	img
		display: block
		width: 100%
		height: 100%
.text-field__bg-1
	top: -10px
	left: -2px
	right: -3px
.text-field__bg-2
	bottom: -10px
	left: -2px
	right: -4px
	