@import "base"
* 
	margin: 0
	padding: 0 
	//-webkit-text-size-adjust: none
html, body 
	height: 100%
body
	font-family: 'Open Sans', Arial, Tahoma, sans-serif
	font-weight: 400
	font-size: 14px
	color: $gray 
	line-height: 1.4
	//-webkit-transform: translate3d(0,0,0);
	//-weblit-backface-visibility: hidden;
// resets
a img, fieldset 
	border: none
a
	color: #37559a
	text-decoration: none
p
	line-height: 1.2
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
button 
	line-height: 1
	cursor: pointer
table 
	border-spacing: 0
	border-collapse: collapse
//icons
.ico-help
	+s($icons, ico-help)
.ico-home
	+s($icons, ico-home)
.ico-mark
	+s($icons, ico-mark)
// common styles
.wrap
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -80px
.container
	width: 1000px
	margin: 0 auto
.push
	height: 80px
	clear: both
//header
.header
	height: 74px
	border-bottom: 3px solid #b9dac9
	.container
		overflow: hidden
	.btn_red
		float: left
		margin-top: 17px 
	.btn_ylw
		float: right
		margin: 20px 26px 0 13px
.header__user
	float: right
	margin: 25px 0 0 40px
	color: $gray 
.header__links
	float: right
	margin-top: 26px
	a
		position: relative
		float: left
		padding-left: 9px
		@include font
		font-size: 13px
		text-transform: uppercase
		color: #3c3c3c
		&:first-child
			padding-left: 14px
			margin-right: 24px
	i
		position: absolute
		top: 3px
		left: 0
.logo
	float: left
	margin: 13px 42px 0 85px
	@extend %ht
	+s($icons, logo)
//title
.title		
	padding: 19px 26px 16px 28px
	font-size: 20px
	overflow: hidden
	.btn_green
		float: right
//btn
.btn
	width: 100px
	height: 33px
	box-shadow: 0 0 0 4px rgba(255,255,255,.1) inset
	line-height: 33px
	text-align: center
	+font
	text-transform: uppercase
	font-size: 14px
	color: #3c3c3c 
.btn_red
	background: $red
	color: #FFF 
.btn_ylw
	background: $ylw
.btn_green
	background: $green 
	