@import "base"
//styles for inner pages
//how it works
.how-it-works
	margin-bottom: 35px
	.title
		margin-bottom: 20px
	p
		margin-bottom: 25px
		font-size: 18px
		color: $blue-dark 
.instructions
	font-size: 0
	li
		display: inline-block
		width: 200px
		padding: 0 20px
		margin-bottom: 50px
		vertical-align: top
		text-align: center	
	p
		font-size: 18px
		color: $blue-dark 
.instructions__pic
	position: relative
	margin-bottom: 20px
	width: 200px
	height: 200px
	img
		margin: 3px
	span
		position: absolute
		top: 0
		left: 0
		width: 58px
		height: 58px
		line-height: 58px
		text-align: center
		font-family: 'FiveMinutes', Arial, Tahoma, sans-serif		
		font-size: 46px
		font-weight: bold 
		color: #fff
		text-shadow: rgba(0,0,0,0.26) 1px 1px 0
		z-index: 10 
	img, span
		+border-radius(50%)
.instructions__pic-out
	position: absolute
	top: 0
	left: 0
	+sized-sprite($icons, in-out)
	z-index: 5 
.instructions__one, .instructions__four
	background: $green-light
.instructions__two, .instructions__five
	background: $blue-dark
.instructions__three
	background: $red 
.instructions__info
	font-size: 22px
	color: $blue-dark 
	text-align: center
	span
		color: $red
//how-to-create
.how-to-create
	margin-bottom: 10px
	.title
		margin-bottom: 40px
//steps
.steps
	margin-bottom: 50px
.steps__title
	margin-bottom: 100px
	font-size: 58px	
	color: $green-light
	text-align: center
	span
		display: block
		margin-left: 200px
		font-size: 80px
		color: $blue-dark
		text-align: right
.steps__list
	font-size: 0
	text-align: center
	li
		display: inline-block
		width: 271px
		padding: 0 24px
		vertical-align: top
	img
		margin-bottom: 30px
	.title
		margin-bottom: 25px
		font-size: 38px 
		color: $blue-dark
		span
			color: $red
	p
		font-size: 15px
		color: $blue-dark
		text-shadow: rgba(255,255,255,0.3) 1px 1px 0
		line-height: 1.4
//profile
.profile
	padding: 80px 0 160px 0
	overflow: hidden
.profile__photo
	position: relative
	float: left
	width: 222px
	height: 259px
	img
		display: block
		margin: 9px 0 0 9px
.profile__photo-bg
	position: absolute
	top: 0
	left: 0
	+sized-sprite($icons, photo)
.profile__detail
	float: right
	width: 700px
.profile__desc
	margin-bottom: 40px 
	font-size: 16px
	color: $blue-dark
	line-height: 1.5
	button
		position: relative
		top: -2px
		margin-left: 12px
		+sized-sprite($icons, btn-edit-pr)
.profile__name
	position: relative
	width: 232px	
	margin: -10px 0 15px -10px
	input
		width: 210px
		height: 69px
		padding: 0 10px
		border-radius: 6px
		border: 1px dashed #959595
		font-family: 'FiveMinutes', Arial, Tahoma, sans-serif	
		font-size: 55px
		color: $blue-dark
		font-weight: bold 
	button
		position: absolute
		top: 23px
		right: -15px
		+sized-sprite($icons, btn-name)
.profile__country
	strong
		display: block
		margin-bottom: 10px
		font-size: 18px
		color: $blue-dark
.country-select
	+sized-sprite($icons, select)